.contenedor1 {
    display: flex;
}

.contenedor2 {
    display: flex;
    height: 700px;
}

.encabezado {
    background-color: aquamarine;
}

.logo {
    background-color: rgb(209, 179, 238);
}

.menu {
    background-color: bisque;
}

.principal {
    background-color: rgb(249, 249, 179);
}